@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Contacts";
}
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Our Contacts</h2>
            <br />
            <p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p>
        </header>

        <!-- Lists -->
        <section>

            <div class="row">
                <div class="col-6 col-12-xsmall">

                    <h4>Contacts</h4>
                    <hr />
                    <ul>
                        <li>+375(29)-24-36-302</li>
                        <li>23-45-56</li>
                        <li>Felis enim feugiat dolore viverra.</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>