@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Discounts";
}

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Left Sidebar</h2>
            <br />
            <p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p>
        </header>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <section id="sidebar">

                    <section>
                        <a href="#" class="image fit"><img src="~/Images/one.png" alt="" /></a>
                        <h3>Amet Lorem Tempus</h3>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                    </section>
                </section>
            </div>
            <div class="col-4 col-12-medium imp-medium">

                <!-- Content -->
                <section id="sidebar">

                    <section>
                        <a href="#" class="image fit"><img src="~/Images/imgonline-com-ua-Resize-MQ3qYErVkdW.jpg" alt="" /></a>
                        <h3>Amet Lorem Tempus</h3>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                    </section>
                </section>
            </div>
            <div class="col-4 col-12-medium imp-medium">

                <!-- Content -->
                <section id="sidebar">

                    <section>
                        <a href="#" class="image fit"><img src="~/Images/imgonline-com-ua-Resize-e2dUKNQaTtI1peg.png" alt="" /></a>
                        <h3>Amet Lorem Tempus</h3>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>