@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Team";
}

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Our Team</h2>
            <hr />
            <p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p>
        </header>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <section id="sidebar">
                    <section>
                        <img class="image fit" src="~/css/images/pic06.jpg" alt="" />
                        <h3>Denis Aleksandrov</h3>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Sign Up</a></li>
                            </ul>
                        </footer>
                    </section>
                    <br />
                    <section>
                        <img class="image fit" src="~/css/images/pic06.jpg" alt="" />
                        <h3>Amet Lorem Tempus</h3>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Sign Up</a></li>
                            </ul>
                        </footer>
                    </section>
                </section>
            </div>
            <div class="col-4 col-12-medium imp-medium">

                <!-- Content -->
                <section id="sidebar">
                    <section>
                        <img class="image fit" src="~/css/images/pic06.jpg" alt="" />
                        <h3>George Fletcher</h3>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Sign Up</a></li>
                            </ul>
                        </footer>
                    </section>
                    <br />
                    <section>
                        <img class="image fit" src="~/css/images/pic06.jpg" alt="" />
                        <h3>Amet Lorem Tempus</h3>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Sign Up</a></li>
                            </ul>
                        </footer>
                    </section>
                </section>
            </div>
            <div class="col-4 col-12-medium imp-medium">

                <!-- Content -->
                <section id="sidebar">
                    <section>
                        <img class="image fit" src="~/css/images/pic06.jpg" alt="" />
                        <h3>Oliver O’Neal</h3>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Sign Up</a></li>
                            </ul>
                        </footer>
                    </section>
                    <br />
                    <section>
                        <img class="image fit" src="~/css/images/pic06.jpg" alt="" />
                        <h3>Amet Lorem Tempus</h3>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Sign Up</a></li>
                            </ul>
                        </footer>
                    </section>
                </section>
            </div>
            <div class="col-4 col-12-medium imp-medium">

                <!-- Content -->
                <section id="sidebar">
                    <section>
                        <img class="image fit" src="~/css/images/pic06.jpg" alt="" />
                        <h3>Peter Hampton</h3>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Sign Up</a></li>
                            </ul>
                        </footer>
                    </section>
                </section>
            </div>
            <div class="col-4 col-12-medium imp-medium">

                <!-- Content -->
                <section id="sidebar">
                    <section>
                        <img class="image fit" src="~/css/images/pic06.jpg" alt="" />
                        <h3>Terence Floyd</h3>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Sign Up</a></li>
                            </ul>
                        </footer>
                    </section>
                </section>
            </div>
            <div class="col-4 col-12-medium imp-medium">

                <!-- Content -->
                <section id="sidebar">
                    <section>
                        <img class="image fit" src="~/css/images/pic06.jpg" alt="" />
                        <h3>Matthew Johnson</h3>
                        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button">Sign Up</a></li>
                            </ul>
                        </footer>
                    </section>
                </section>
            </div>
        </div>
    </div>
</div>