    <!--allrecords-->
<div id="allrecords"
     class="t-records"
     data-hook="blocks-collection-content-node"
     data-tilda-project-id="4469406"
     data-tilda-page-id="21590632"
     data-tilda-formskey="6b6915dad76700367e60391d344b0b15"
     data-tilda-lazy="yes">
    <div id="rec348741362"
         class="r t-rec"
         style=""
         data-animationappear="off"
         data-record-type="790">
        <div class="t790">
            <script>
                var yWidgetSettings = { buttonText: "Online booking" };
            </script>
            <script type="text/javascript"
                    src="https://w583794.yclients.com/widgetJS"
                    charset="UTF-8"></script>
            <script>
                t790_init("348741362");
            </script>
        </div>
    </div>
</div>
<!-- Stat -->
<script type="text/javascript">
    if (!window.mainTracker) {
        window.mainTracker = "tilda";
    }
    (function (d, w, k, o, g) {
        var n = d.getElementsByTagName(o)[0],
            s = d.createElement(o),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.key = k;
        s.id = "tildastatscript";
        s.src = g;
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(
        document,
        window,
        "6847e45f524e3270424f1bd07eaeac65",
        "script",
        "https://static.tildacdn.com/js/tildasimplestat-0.1.min.js"
    );
</script>